@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Quicksand:wght@600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-quicksand;
        @apply text-2xl;
        @apply text-gray-800;
    }

    h2 {
        @apply font-quicksand;
        @apply text-xl;
        @apply text-gray-700;
    }

    h3 {
        @apply font-quicksand;
        @apply text-lg;
        @apply text-gray-600;
    }


    p {
        @apply text-gray-800;
    }

    span {
        @apply text-sm;
        @apply text-gray-500;
    }

    a {
        @apply text-blue-500;
        @apply outline-blue-500;
    }

    @screen sm {
        h1 {
            @apply text-3xl;
        }

        h2 {
            @apply text-2xl;
        }

        h3 {
            @apply text-xl;
        }
    }
}

button[type="button"] {
    @apply rounded-md;
    @apply px-4 py-2;
    @apply text-white;
    @apply transition-transform;
    @apply shadow-md;
}

button[type="button"]:hover {
    @apply -translate-y-px;
    @apply shadow-md shadow-blue-500/50;
}

.projects:hover .project-stack {
    animation-play-state: paused;
}

.projects::before {
    background-image: linear-gradient(to right,
            rgba(244, 244, 245, 1) 0%,
            rgba(244, 244, 245, 0) 100%);
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 5%;
    z-index: 2;
}

.projects::after {
    background-image: linear-gradient(to left,
            rgba(244, 244, 245, 1) 0%,
            rgba(244, 244, 245, 0) 100%);
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 5%;
    z-index: 2;
}

footer ul {
    @apply flex;
    @apply flex-col;
    @apply gap-y-2;
}

footer ul li a {
    @apply text-gray-400;
}

footer ul li a:hover {
    @apply underline;
}

.dev-tool:hover>div>svg {
    @apply opacity-100;
    @apply ml-6;
}

.featured:hover>div>div>p {
    @apply underline;
}

#technology-JavaScript:hover {
    @apply bg-yellow-400/[.08] border-yellow-400/[.5];
}

#technology-TypeScript:hover,
#technology-NextJS:hover {
    @apply bg-blue-600/[.08] border-blue-600/[.5];
}

#technology-NodeJS:hover {
    @apply bg-green-900/[.08] border-green-900/[.5];
}

#technology-NestJS:hover {
    @apply bg-rose-600/[.08] border-rose-600/[.5];
}

#technology-PHP:hover {
    @apply bg-slate-500/[.08] border-slate-500/[.5];
}

#technology-Neo4j:hover,
#technology-TailwindCSS:hover {
    @apply bg-sky-500/[.08] border-sky-500/[.5];
}

#technology-MongoDB:hover {
    @apply bg-green-500/[.08] border-green-500/[.5];
}

#technology-MySQL:hover {
    @apply bg-amber-500/[.08] border-amber-500/[.5];
}

#technology-PostgreSQL:hover {
    @apply bg-cyan-700/[.08] border-cyan-700/[.5];
}

#technology-SQLite:hover {
    @apply bg-sky-900/[.08] border-sky-900/[.5];
}

#technology-Prisma:hover {
    @apply bg-indigo-500/[.08] border-indigo-500/[.5];
}

#technology-Supabase:hover {
    @apply bg-emerald-400/[.08] border-emerald-400/[.5];
}

#technology-ReactJS:hover {
    @apply bg-cyan-500/[.08] border-cyan-500/[.5];
}

#technology-CSS3:hover {
    @apply bg-blue-700/[.08] border-blue-700/[.5];
}

#technology-HTML5:hover {
    @apply bg-orange-500/[.08] border-orange-500/[.5];
}

#technology-jQuery:hover {
    @apply bg-sky-300/[.08] border-sky-300/[.5];
}

#technology-GitHub:hover {
    @apply bg-indigo-600/[.08] border-indigo-600/[.5];
}

#technology-Vercel:hover {
    @apply bg-pink-600/[.08] border-pink-600/[.5];
}